streamlit
PyMuPDF
langchain==0.3.7
langchain-core==0.3.17
langchain-groq==0.2.1
langchain-community==0.3.7 
langchain-text-splitters==0.3.2 
langchain-chroma==0.1.4 
langchain-huggingface==0.1.2
chromadb
sentence-transformers
groq
duckduckgo-search
requests 
